$page-background-color: #fcfcfc;

$header-background-color: #eeeeee;
$header-height: 200px;

$snoo-diameter: 50px;
$snoo-gutter-size: 5px;
$snoo-offset: 55px;
$snoo-hover-size: 0.9;

$banner-width: 450px;
$banner-height: 150px;
$banner-offset: 15px;

$tab_menu-separator: "/";
$tab_menu-separator-color: #cccccc;

$readers-word: "programmers";

$footer-background-color: #111111;
$footer-title-color:      #777777;
$footer-link-color:       #e4e4e4;
