$page-background-color: #fcfcfc;

$header-background-color: #eeeeee;
$header-height: 200px;

$tab_menu-separator: "/";
$tab_menu-separator-color: #cccccc;

$footer-background-color: #111111;
$footer-title-color:      #777777;
$footer-link-color:       #e4e4e4;
