.subscribers .word {
  display: none;
}

.subscribers::after {
  content: $readers-word;
}

.users-online {
  display: inline;
}

.users-online::before {
  display: none;
}

.users-online .number::before {
  content: " (";
}

.users-online .word {
  display: none;
}

.users-online::after {
  content: $users-online-word + " here now)";
}
