.pagename {
  position: absolute;
  left: $snoo-diameter / 2;
  right: $snoo-diameter / 2; // keep banner centered
  top: $userbar-height;
  bottom: $tab-menu-height;

  text-align: center;
  font-size: 0;

  a::after {
    content: "";
    background: $banner-image-url no-repeat center;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
