.flair, .linkflairlabel {
  background-color: #ddd;
  color: #555;
  border-radius: 5px;
  padding: 1px 5px;
}

.link:not(.linkflair) .flairselectbtn {
  background-color: #ff4136;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
}

.link:not(.linkflair) .flairselectbtn::after {
  content: " (please add one!)"
}

.flair-red   { background-color: #ff4136; }
.flair-green { background-color: #5cc410; }
.flair-blue  { background-color: #0f64c8; }
