.author.moderator, .flair, .linkflairlabel {
  border-radius: 2px !important;
  padding: 2px 5px !important;
}

.flair, .linkflairlabel {
  margin-top: 0 !important;
  background-color: #999999;
  color: #ffffff;
  border: none;
}

.link:not(.linkflair) .flairselectbtn {
  background-color: #ff4136;
  color: #ffffff;
  padding: 3px;
  border-radius: 3px;
}

.link:not(.linkflair) .flairselectbtn::after {
  content: " (please add one!)"
}

@each $flair, $color in (red: #ff4136, green: #3d9970, blue: #0f64c8, orange: #ff851b) {
  .flair-#{"" + $flair} { background-color: $color; }
  .linkflair-#{"" + $flair} .linkflairlabel { background-color: $color; }
}
