body.listing-page #siteTable {
  margin-top: 10px;
  min-height: 50vh;
}

.link {
  margin: 0;
  margin-bottom: 15px;

  .rank {
    display: none;
  }

  .midcol, .thumbnail {
    margin: 5px 0;
  }

  .entry {
    padding: 5px;
    border-right: 3px solid transparent;

    &.RES-keyNav-activeElement {
      border-right: 3px solid $link-accent-color;

      &, .md-container {
        background-color: transparent !important;
      }
    }
  }

  .title {
    color: #0074D9;
    font-weight: bold;

    &:visited {
      color: #85144b;
    }
  }

  .usertext-body .md {
    border-color: #c6daef;
    border-radius: 2px;
  }
}
