body.listing-page #siteTable {
  margin-top: 10px;
  min-height: 50vh;
}

.link {
  margin: 0;
  padding: 7.5px 0;
  border-right: 2px solid transparent;

  &.RES-keyNav-activeThing {
    border-right: 2px solid $accent-color;
  }

  &:not(.RES-keyNav-activeThing):hover {
    border-right: 2px solid transparentize($accent-color, 0.5);
  }

  .rank {
    display: none;
  }

  .midcol, .thumbnail {
    margin: 5px 0;
  }

  .entry {
    padding: 5px;
    border-right: 0;

    &.RES-keyNav-activeElement {
      border-right: 0;

      &, .md-container {
        background-color: transparent !important;
      }
    }
  }

  .title {
    color: #0074D9;

    &:visited {
      color: #85144b;
    }
  }

  .usertext-body .md {
    border-color: #c6daef;
    border-radius: 2px;
  }
}
