body.listing-page #siteTable {
  margin-top: 10px;
  min-height: 50vh;
}

.link {
  margin: 0;
  padding: 7.5px 0;
  border-right: 2px solid transparent;

  &.RES-keyNav-activeThing {
    border-right: 2px solid $page-accent-color;
  }

  body.res &:not(.RES-keyNav-activeThing):hover {
    border-right: 2px solid transparentize($page-accent-color, 0.75);
  }

  .rank {
    display: none;
  }

  .midcol, .thumbnail {
    margin: 5px 0;
  }

  .entry {
    padding: 5px;
    border-right: 0;

    &.RES-keyNav-activeElement {
      border-right: 0;

      &, .md-container {
        background-color: transparent !important;
      }
    }
  }

  .title {
    color: $link-color;

    &:visited {
      color: $link-visited-color;
    }
  }

  .flat-list a {
    opacity: 0.5;
  }

  .flat-list a.comments {
    opacity: 1;
  }

  .usertext-body .md {
    border-color: #c6daef;
    border-radius: 2px;
  }
}
