@import "variables";
@import "aliases";
@import "userbar";
@import "banner";
@import "header-shortcuts";
@import "tab-menu";
@import "sidebar";
@import "snoo";
@import "submit-button";
@import "toggle-button";
@import "link";
@import "thumbnail";
@import "flair";
@import "footer";

body {
  margin-top: $page-top-margin;
}

body, .side, .titlebox form.toggle, .leavemoderator, .icon-menu a {
  background-color: $page-background-color;
}

#header,
body > .content,
body.with-listing-chooser.listing-chooser-collapsed > .content,
body.with-listing-chooser.listing-chooser-collapsed .footer-parent,
body.modtools-page > .content {
  width: $content-width;
  margin: 10px $content-right-spacing 0 $content-left-spacing;
}

.commentarea {
  .panestack-title, .menuarea {
    margin-right: 0;
  }

  .usertext-edit, .markdownEditor-wrapper, .md textarea {
    width: 100%;
    max-width: none;
  }
}

.sheets, #RESStyleSheetTipPane, #sr-form .linefield {
  width: 100%;
  padding: 0;
}

.infobar {
  margin-right: 0;
}

body:not(.res) #header-bottom-right {
  top: 25px;
  bottom: auto;
  border-radius: 0;
}

#header {
  background-color: $header-background-color;
  background-image: $header-background-url;
  border: none;
}

#header-bottom-left {
  position: relative;
  height: $header-height;
}
