@import "variables";
@import "banner";
@import "tab_menu";
@import "submit_button";
@import "footer";

body {
  margin-top: 20px;
}

body, .side, .titlebox form.toggle, .leavemoderator, .icon-menu a {
  background-color: $page-background-color;
}

#header, body > .content {
  width: 60%;
  margin: 0 30% 0 10%;
}

.sheets, #RESStyleSheetTipPane {
  width: 100%;
}

.infobar {
  margin-right: 0;
}

#sr-form .linefield {
  width: 100%;
}

body:not(.res) #header-bottom-right {
  top: 25px;
  bottom: auto;
  border-radius: 0;
}

.side {
  width: 30%;
  margin: -218px 0 0 0;
}

.side .spacer {
  padding-left: 10px;
  width: 100%;
  max-width: 300px;
}

#search input[type=text] {
  width: 100%;
}

.side .spacer:nth-of-type(1) {
  margin-top: 0;
}

.side .redditname {
  display: none;
}

#sr-header-area {
  border: none;
}

#header {
  background-color: $header-background-color;
  border: none;
}

#header-bottom-left {
  position: relative;
  height: $header-height;
}

#header-img {
  position: absolute;
  top: 55px;
  left: -30px;
  height: 50px;
  width: 50px;
  border: 5px solid $page-background-color;
  border-radius: 50px;
  z-index: 50;
}

#header-img:hover {
  height: 45px;
  width: 45px;
  border-width: 7.5px;
}

.res-nightmode #header-img {
  border-color: #262626;
}

.sidebox.create {
  display: none;
}

.subscribers .word {
  display: none;
}

.subscribers::after {
  content: "programmers, ";
}

.users-online {
  display: inline;
}

.users-online::before {
  display: none;
}

.link {
  margin: 10px;
}

.link:not(.linkflair) .flairselectbtn {
  background-color: #FF4136;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
}

.link:not(.linkflair) .flairselectbtn::after {
  content: " (please add one!)"
}
