.side {
  width: $content-right-spacing;
  min-width: $sidebar-width + $sidebar-padding;
  margin: -($header-height + $header-shortcuts-height) 0 0 0;

  .spacer {
    margin: 0 0 10px $sidebar-padding;
    width: $sidebar-width;
  }

  // Search Bar
  .spacer:nth-of-type(1) {
    margin-top: 0;
  }

  #search input[type=text] {
    border: 0;
    width: 100%;
  }

  .redditname {
    margin-bottom: 0;

    &::before {
      content: "/r/";
    }
  }
}
