.side {
  width: $content-right-spacing;
  margin: -($header-height + $header-shortcuts-height + 10px) 0 0 0; // 10px as content top margin

  .spacer {
    margin: 10px 0 0 $sidebar-padding;
    width: 100%;
    max-width: $sidebar-width;
  }

  // Search Bar
  .spacer:nth-of-type(1) {
    margin-top: 0;
  }

  #search input[type=text] {
    border: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px dashed $page-accent-color;

    &:focus {
      outline: none;
    }
  }

  .linkinfo {
    border: 1px dashed $page-accent-color;
    background-color: transparent;
  }

  .redditname {
    font-weight: normal;
    margin-bottom: 0;

    a {
      color: darken($page-accent-color, 20%);
    }
  }

  .sidebox.create {
    display: none;
  }

  .sidecontentbox .content {
    border-color: #dddddd;
  }

  .titlebox {
    clear: both;
  }

  .usertext-body {
    padding-top: 5px;
  }

  .usertext-body a[href*="focus-button"] {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: $page-accent-color;
    border: 1px dashed $page-accent-color;
    height: 30px;
    line-height: 30px;
    font-size: 12px;

    &:hover {
      border-style: solid;
    }
  }

  .account-activity-box {
    margin-bottom: 10px;
  }
}
