.side {
  width: $content-right-spacing;
  margin: -($header-height + $header-shortcuts-height) 0 0 0;

  .spacer {
    margin-left: $sidebar-padding;
    width: $sidebar-width;
  }

  // Search Bar
  .spacer:nth-of-type(1) {
    margin-top: 0;
  }

  #search input[type=text] {
    width: 100%;
  }

  .redditname {
    display: none;
  }
}
