#header-img {
  position: absolute;
  top: $snoo-offset;
  left: -(($snoo-diameter / 2) + $snoo-gutter-size);
  height: $snoo-diameter;
  width: $snoo-diameter;
  background-color: $page-background-color;
  border: $snoo-gutter-size solid $page-background-color;
  border-radius: $snoo-diameter;
  z-index: 50;

  body.res-nightmode & {
    border-color: $res-nightmode-color;
    background-color: $res-nightmode-color;
  }

  &:hover {
    height: $snoo-diameter * $snoo-hover-size;
    width: $snoo-diameter * $snoo-hover-size;
    border-width: $snoo-gutter-size + (($snoo-diameter - ($snoo-diameter * $snoo-hover-size)) / 2);
  }
}
