#header-img {
  position: absolute;
  top: $snoo-offset;
  left: -(($snoo-diameter / 2) + $snoo-gutter-size);
  height: $snoo-diameter;
  width: $snoo-diameter;
  background-color: $page-background-color;
  border: $snoo-gutter-size solid $page-background-color;
  border-radius: $snoo-diameter;
  z-index: 50;

  .res-nightmode & {
    border-color: $page-nightmode-color;
    background-color: $page-nightmode-color;
  }

  &:hover {
    height: $snoo-diameter * $snoo-hover-size;
    width: $snoo-diameter * $snoo-hover-size;
    border-width: $snoo-gutter-size + (($snoo-diameter - ($snoo-diameter * $snoo-hover-size)) / 2);
  }

  &.default-header {
    width: $snoo-diameter;
    height: $snoo-diameter;
    text-indent: 0;
    background-image: none;
    background-color: $snoo-default-color;
    font-size: 0;

    &:hover {
      height: $snoo-diameter * $snoo-hover-size;
      width: $snoo-diameter * $snoo-hover-size;
    }
  }
}
