.side .morelink {
  border: 1px dashed #3D9970;
  border-radius: 0;
  background-image: none;
  background-color: transparent;

  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-transform: uppercase;

  &:hover {
    background-image: none;
    border-style: solid;
  }

  a {
    color: #3D9970;
  }

  .nub {
    display: none;
  }
}
