body.loggedin .side {
  .spacer:nth-of-type(2), .spacer:nth-of-type(3) {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    width: 145px;
  }
}

body:not(.loggedin) .side {
  .spacer:nth-of-type(3), .spacer:nth-of-type(4) {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    width: 145px;
  }
}

.side .morelink {
  border: 1px solid #3D9970;
  border-radius: 0;
  background-image: none;
  background-color: #3D9970;

  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-transform: uppercase;

  &:hover {
    background-image: none;
    border-color: lighten(#3D9970, 20%);
    background-color: lighten(#3D9970, 20%);
  }

  a {
    color: white;
  }

  .nub {
    display: none;
  }
}
