#header-bottom-left .tabmenu {
  // Stick the tab menu to the bottom of the header.
  position: absolute;
  bottom: 0; // for padding 2px on bottom of li
  left: 0;
  right: 0;
  height: 18px;
  padding: 2px;
  text-align: center;
  overflow: hidden;

  &:hover {
    overflow: visible;
  }

  li {
    margin: 0 2px 0 0;
    padding: 0 0 2px 0;
    text-align: center;
    font-weight: normal;

    &::after {
      content: " " + $tab-menu-separator;
      color: $tab-menu-separator-color;
    }
    &:last-of-type::after {
      content: "";
    }

    a {
      border: none;
      padding: 0 0 2px 0;
      background-color: transparent;
      color: $tab-menu-text-color;

      .res-nightmode {
        color: $tab-menu-text-color;
      }

      &:hover {
        border-bottom: 2px solid #5f99cf;
      }
    }

    &.selected {
      a {
        color: orangered;
        border-bottom: 2px solid orangered;
        &:hover {
          border-bottom: 2px solid lighten(orangered, 20%);
        }
      }
    }
  }
}
