.thumbnail {
  width: 50px;
  border-radius: 70px;

  &.default, &.self, &.image, &.spoiler {
    background-position-x: -10px; // spritesheets, eh?
  }

  img {
    height: 50px;
    width: auto;
  }
}
