#header-bottom-right {
  top: $header-shortcuts-height + 5px !important;
  left: 0;
  right: 0;
  height: $userbar-height;

  margin-left: $sidebar-padding;
  padding: 0;
  background-color: transparent;
  text-align: center;
  font-size: 0;

  .res-nightmode & {
    background-color: transparent !important;
  }

  #userbarToggle {
    border-right: none;
    background-color: transparent;
    text-align: center;
    font-size: 0;
    line-height: $userbar-height;
    min-height: auto;

    &::after {
      font-size: x-small;
      content: "show userbar";
    }

    &.userbarHide {
      display: none;
    }

    &.userbarShow {
      width: 100%;
      height: 100%;
    }
  }

  .separator {
    font-size: 0;
    padding-right: 10px;
  }

  a[href^="https://www.reddit.com/user/"],
  #RESAccountSwitcherIcon,
  #mail,
  #modmail,
  #new_modmail,
  .pref-lang,
  #RESSettingsButton,
  .logout {
    display: inline-block;
    top: 0;
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: top;
    width: 25px;
    height: 20px;
  }

  .user {
    margin-left: 0 !important;

    a[href^="https://www.reddit.com/user/"] {
      background-image: url(%%icon-acct%%);
    }

    #RESAccountSwitcherIcon {
      margin-left: 10px !important;
      background-image: url(%%icon-acct-switcher%%);
    }
  }

  #mail {
    background-image: url(%%icon-mail%%);
  }

  #modmail {
    background-image: url(%%icon-modmail%%);
  }

  #new_modmail {
    background-image: url(%%icon-new-modmail%%);
  }

  .pref-lang {
    background-image: url(%%icon-prefs%%);
  }

  #RESSettingsButton {
    background-image: url(%%icon-res-prefs%%);
  }

  .logout {
    background-image: url(%%icon-logout%%);
  }
}

#userbarToggle {
  color: #001f3f;
}

#RESAccountSwitcherIconOverlay {
  top: -9999px !important;
  left: -9999px !important;
}
