#header-bottom-right {
  width: 100%;
  background-color: transparent;
  text-align: center;

  .beta-hint {
    right: 10px;
  }
}

#userbarToggle {
  left: initial !important;
  right: 0 !important;
  border-radius: 0;
  padding: 0;
  height: 15px;
  background-color: #3d9970;
  color: #ffffff;
  text-align: center;

  &:hover {
    background-color: lighten(#3d9970, 10%);
  }
}
